*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    color: white;
    background-color: #334E2A;
}
button{
    cursor: pointer;
}


/* Main page */
.top{
    margin: 1em;
    margin-left: 5%;
    margin-right: 5%;
    height: 95vh;
    min-height: 638px;
}
.menu_and_fog{
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: -1rem;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}
.menu{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.back_menu_button{
    background-image: none;
    border: none;
}
.menu_list li{
    font-size: 0.75rem;
}
.menu_list ol{
    margin-bottom: 1rem;
}
.menu_media{
    display: flex;
    justify-content: space-between;
}
.fog{
    height: 100%;
    width: 60%;
    background-color: rgba(50, 50, 50, 0.5);
}
.top_header{
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_button{
    background: none;
    border: none;
}
.fa-bars{
    font-size: 2rem;
}
.cart_button{
    background: none;
    border: none;
    font-style: 0.75rem;
}
.top_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top_images{
    width: 100%;
    height: 54vh;
    border-radius: 0.75rem;
    margin-top: 1.5em;
    background-image: url(/assets/images/top_img2.jpg);
    background-size: cover;
    background-position: center center;
    max-width: 30vh;
}
.top_scroll{
    display: flex;
    padding-top: 0.5rem;
    flex-direction: column;
    align-items: center;
}
.znajdz, .siebie{
    color: #334E2A;
    -webkit-text-stroke: 0.5px white;
}
.scroll_button{
    padding-top: 0.5em;
    padding-bottom: 1em;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
}


/* Categories */
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.categories > *{
    color: #334E2A;
    background-color: white;
}
.categories_name{
    margin-top: 2vh;
    font-weight: bold;
    font-size: 1.25rem;
}
.product_image{
    max-width: 300px;
    max-height: 300px;
    background-color: white;
    margin-top: 1rem;
}
.product{
    width: 100%;
    color: #334E2A;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1px;
}
.product2{
    background-color: white;
    color: #334E2A;
}
.product_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #334E2A;
    background-color: white;
    width: 300px;
}
.info1{
    font-weight: bold;
}
.info2{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
}
.info3{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
}


/* Products */
.products{
    background-color: white;
    color: #334E2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1px;
    padding-top: 1rem;
    gap: 1rem;
    padding: 1.5rem;
}
.products_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.products_name1{
    color: #334E2A;
    background-color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
.products_name2{
    color: #334E2A;
    background-color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: -0.25rem;
}
.product2{
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
}
.div2{
    background-color: white;
    height: 300px;
}
.product2_img{
    width: 300px;
    height: 300px;
    background-color: white;
}
.product2_info1, .product2_info2, .product2_info, .product2_price, .product2_img{
    background-color: white;
    color: #334E2A;
}
.product2_info{
    display: flex;
    flex-direction: column;
}
.product2_info2{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
    margin-top: -0.2rem;
}
.product2_price{
    position: absolute;
    background-color: rgb(167, 167, 167);;
    border-radius: 7.5px 7.5px 0 0;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.62rem;
    font-size: 0.8rem;
}


/* Info */
.info{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info_phone, .info_email{
    font-size: 0.8rem;
}
.info_media{
    width: 175px;
    display: flex;
    justify-content: space-between;
}
.info_icon{
    font-size: 1.75rem;
}


@media screen and (min-width: 768px) and (max-width: 1199px){
    
}

@media screen and (min-width: 1200px) {
    
}